#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cpf-Formatado{
  position: relative;
  top: 30px;
}

.tamanho{

  position: relative;
  top: 10px;
}